
#txt-pay, #txt-pay-balance, #txt-bank, #txt-bank-balance {
    display:inline;
}

.col:not(#bottom-col):not(#laptops-col){
  background-color: rgb(242,242,242);
  border-radius: 15px;
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 10%;
  height: 150px;
}

#container {
  padding-right: 100px;
}

#laptops-col {
  background-color: rgb(242,242,242);
  border-radius: 15px;
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 10%;

}

#bottom-col {
  background-color: rgb(242,242,242);
  border-radius: 15px;
  margin-left: 70px;
  padding-top: 15px;
}

h3 {
 text-align: center;
}

#btn-div, #btn-get-loan {
  margin-left: 50px;
}
